<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>808271079218-a3lfq75762mh9ag135qjpic0q0elhbc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808271079218-a3lfq75762mh9ag135qjpic0q0elhbc1</string>
	<key>API_KEY</key>
	<string>AIzaSyBCU5SrXeLdqO6dQDXtvXzz3J_dMp52jrk</string>
	<key>GCM_SENDER_ID</key>
	<string>808271079218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diegoa3d.VeganFireWater</string>
	<key>PROJECT_ID</key>
	<string>vegansauce-c6ea2</string>
	<key>STORAGE_BUCKET</key>
	<string>vegansauce-c6ea2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:808271079218:ios:1d14392f4791cb1b</string>
	<key>DATABASE_URL</key>
	<string>https://vegansauce-c6ea2.firebaseio.com</string>
</dict>
</plist>